################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs

/web-api/WebApplication1/obj
/web-api/.vs
/web-api/WebApplication1/bin/
